# Example only — fill real values locally or in pipeline secrets
subscription_id     = "<SUB_ID>"
client_id           = "<APP_ID>"
client_secret       = "<CLIENT_SECRET>"
tenant_id           = "<TENANT_ID>"

location            = "centralus"
resource_group_name = "Azuredevops"
application_type    = "myApplication"

vm_size             = "Standard_B1s"
username            = "rayan22"
ssh_public_key      = "/home/rayan/.ssh/id_rsa.pub"
